#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.body-page-none {
  margin: 0;
}

.body-page-center {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.body-page-top {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100%;
}

.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-fluid .p-inputgroup .p-input {
  flex: 1 1 auto;
  width: 40px;
  height: 45px;
}