#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/*
  * Core Page Styling Types
*/
.body-page-none {
  margin: 0;
}

.body-page-center {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

.body-page-top {
  margin: 0;
  display: grid;
  place-items: center;
  height: 100%;
  overflow-x: hidden;
}

/*
  * Default Inputgroup Formatting
*/
.p-inputgroup .p-inputtext, .p-fluid .p-inputgroup .p-inputtext, .p-inputgroup .p-inputwrapper, .p-fluid .p-inputgroup .p-input {
  flex: 1 1 auto;
  width: 40px;
  height: 45px;
}

/*
  * Default Dialogue Box Style
*/
.p-dialog {
  width: 45%;
}

.p-dialog-header {
  background-color: #181a1f;
}

.p-dialog-content {
  background-color: #353a45;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.p-dialog-footer {
  background-color: #353a45;
  padding-top: 15px;
  border-top: solid #404348 1px;
}