.set-creation-limit-card {
  min-width: 50%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-settings-title {
  padding: 10px;
}

.set-creation-limit-card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.set-creation-limit-card-form-field {
  width: 100%;
  text-align: left;
  padding: 2.5px;
}

.set-creation-limit-card-form-button-center {
  text-align: center;
}

@media (max-width: 768px) {
  .set-creation-limit-card {
    width: 98%;
  }
}