.set-review-card-container {
  width: 100%;
}

.set-review-card-container-card {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
}

.set-review-card-title {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.set-review-card-review {
  padding-bottom: 10px;
  text-align: left;
  white-space: pre-line;
}

.set-review-card-star-selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.set-review-card-star-selection-heading {
  padding-bottom: 5px;
}

.set-review-card-misc-field {
  text-align: left;
}