.top-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 100%;
  padding-top: 5px;
  cursor: pointer;
}

.top-bar-item:hover {
  background-color: #212f4d;
}

.selected {
  background-color: #052437;
  color: #3bab99;
}

.logout-mobile {
  color: #e94d4d;
}