/*
  * Dialogue Footer Formatting
*/
.add-to-collection-dialogue-footer {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-to-collection-dialogue-footer-button {
  margin-right: 10px;
}

/*
  * Content Styling
*/
.add-to-collection-dialogue-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.add-to-collection-dialogue-heading-text {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.add-to-collection-dialogue-loading {
  padding: 20px;
}

.add-to-collection-dialogue-error {
  padding: 20px;
  text-align: center;
}

.add-to-collection-dialogue-padding {
  padding: 10px;
}

.add-to-collection-dialogue-collection-container {
  text-align: center;
  width: 100%;
}

.add-to-collection-dialogue-collection-card {
  padding: 2.5px;
}